{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "padded-blocks": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "no-underscore-dangle": [ "error", { "allowAfterThis": true }],
    "import/no-unresolved": ["error", {
        "ignore": [
          "config",
          "components/",
          "stores/",
          "actions/",
          "sources/",
          "styles/",
          "images/"
        ]
    }]
  }
}
